<!DOCTYPE html>
<html>

<% include ../layout/head %>

<body>
<div class='container'>

  <% include ../layout/header %>

  <h1> <%= title%> </h1>
  <p> Hello world </p>

  <% include ../layout/footer %>

</div>
</body>

</html>
